@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  width: 100%;
}
.go_back:hover {
  background-color: #005bb5;
}
.go_back {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 10px;
}